<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Document</title>
</head>
<body>
    
   <p>Text:</p>
   
   
   
   <pre name="content" id="">{{.Text}}</pre>
    <pr >Banner: {{.Banner}}</p>
    <form action="/save" method="post"> 
        <input type="submit" value="Save and Download">
    </form>
    <form action="/">
        <button type="submit">Go Back</button>
    </form>
    
    
</body>
</html>