<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        
          <form action="/asci_art" method="post">
            <textarea name="text" id=""></textarea>
            <select name="banner" id="">
              <option value="shadow.txt">shadow</option>
              <option value="standard.txt">standard</option>
              <option value="thinkertoy.txt">thinkertoy</option>
            </select>
            <button>Send</button>
          </form>
       
      </div>
    </div>
  </body>
</html>
